@import "tailwindcss";

@import "@catppuccin/tailwindcss/mocha.css";

@theme {
  --animate-gradient-scroll: gradient-scroll 5s linear infinite;

  @keyframes gradient-scroll {
    0% {
      background-position: 0% 0%;
    }

    100% {
      background-position: 300% 0%;
    }
  }
}

html,
body {
  width: 100%;
  height: 100%;
}
